@{
    ViewBag.Title = "About";
    ViewBag.Message = "Condominios Buena Vista Aplication";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Somos una red de condominios ubicados en la Zona de Guanacaste.</p>
